
// Primary
$Primary: #16b8f3;

// Body-bg
$body-bg: #000;
$side-bar-bg: #161616;

// Black and White
$FirstBlack: #232323;
$SecondBlack: #464646;
$ThirdBlack: #4B4B4B;
$FourthBlack: #8E8E8E;
$FifthBlack: #868686;
$SixthBlack: #909090;
$SeventhBlack: #B8B8B8;
$white: #FFF;
$SecondWhite: #FAFAFA;

// Gray
$Gray: #CFCFCF;
$Gray2: #8C8C8C;

// Card
$card-bg: #161616;