@use "../../assets/scss/forward" as *;

.card {
  background-color: $card-bg;
  padding: 16px;
  border-radius: 8px;

  .title {
    font-size: 12px;
    text-transform: uppercase;
    color: $SixthBlack;
  }
}